.centered-text {
    text-align: center;
}
h1{
    color:rgb(244, 223, 230);
}
h2{
    color:rgb(244, 223, 230);
    
}
li {
    color:rgb(244, 223, 230);
}
.cool-design {
    text-decoration: underline;
}