html, body {
    direction: rtl;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-text{
    text-align: center;
    color: rgb(155, 39, 39);
    font-size: xx-large;
    font-weight: bold;
}

.welcome-text{
    text-align: center;
}

.login-table{
    border: 1px solid black;  
}
